@charset "utf-8";

        p.centrado{
        font-family:courier;
        text-align: center;
        color: white;
        }
        p.centrado2{
            text-align: center;
            color: blue;
            }

        div.a {
        background-color: gray;
        text-align: center;
        font-family: verdana;
        color:black;
        font-size: 100%;
}
        div.centrado {
        text-align: center;
        font-family:verdana;
        
}
